@charset "utf-8";
/* CSS Document */
@import "/common/css/reset.css"; /* css파일 내에서 css파일 호출 */

body, div, h1, ol, li, form, fieldset, legend, input {
  	margin:0; padding:0; border:0;font-family: '나눔고딕','Nanum Gothic', '돋움', Arial, sans-serif; 
}

body{font-size:12px; color:#525252; }
/*body{font-family: '맑은고딕','Malgun Gothic', '돋움', Arial, sans-serif; font-size:12px; color:#525252; } */
div {}
img { border:0px; }
html, body {height:100%; margin:0px; padding:0px;}
ul{list-style:none;}



/* 공통 */

#gnb {width:100%; background:#3b6eaf; border-bottom:solid 1px #5c86bc;  }
#gnb #gnb_width {margin: 0px auto; width:1200px;height:90px;} /* 넓이 높이 설정 */
#gnb #gnb_width #logo { padding-left:10px; padding-top: 30px; float:left; }
#gnb #gnb_width #logout {text-align:right; vertical-align:top;margin-top:10px; padding:2px 10px 0px 0px;color:#ffffff; float:right;  }


#lnb {width:100%; background:#4d7fbe; border-top:solid 1px #3b6eaf; }
#lnb #lnb_width {margin: 0px auto; width:1280px;height:52px;}  /* 넓이 높이 설정 ,  넓이(1200+menu padding 사이즈=1280) :  */
#lnb #lnb_width #menu {color:#769dcd;  padding-top:16px; text-align:center; }  /* 분리바색상 상단여백 설정 */
#lnb #lnb_width #menu a {font-size:15px; color:#ffffff; text-decoration:none; padding:0 50px; } /* 메뉴사이 간격 설정 */


#title {width:100%; border-bottom:#e0e0e0 solid 1px;}
#title #title_width {margin: 0 auto; width:1200px;height:45px;} /* 넓이 높이 설정 */
#title p {margin-top :15px; padding-left: 15px; border-left:#4d7fbe solid 4px; font-size:22px; color:#333333; }


/* 컨텐츠 영역 */
#contents {width:1200px;margin:0 auto; padding:30px 0 0px 0; display:block;margin-bottom:70px; position:relative; } /* 타이틀 아래쪽 여백 설정 , popupmenu div를 위하여 position 설정 */
#contents #left_orgtree {float:left; width:300px; padding : 9px; border:#e0e0e0 1px solid; background-color:#f4f4f4; vertical-align:top;margin-right:30px; margin-bottom:70px; }  /* 넓이 설정, 카피라이트 윗쪽 여백 설정 */
#contents #right_orgtree {float:left; width:850px; vertical-align:top; margin-bottom:70px;} /* 넓이 설정, 카피라이트 윗쪽 여백 설정 */
#contents #server_left {text-align:left; vertical-align:top; border:#e0e0e0 1px solid; margin-right:10px; }
#contents #server_middle {text-align:left; vertical-align:top;border:#e0e0e0 1px solid; margin-right:5px;margin-left:5px;}
#contents #server_right {text-align:left; vertical-align:top;border:#e0e0e0 1px solid; margin-left:10px;}

.server_th1 {height:40px; font-size:13px; font-weight:bold; background:#82a6d3 ; color:#ffffff; border-bottom:#e0e0e0 1px solid;  }
.server_th2 {height:40px; font-size:13px; font-weight:bold; background:#82b5d3 ; color:#ffffff; border-bottom:#e0e0e0 1px solid;  }
.server_th3 {height:40px; font-size:13px; font-weight:bold; background:#78c5ca ; color:#ffffff; border-bottom:#e0e0e0 1px solid;  }
.server_th4 {height:40px; font-size:13px; font-weight:bold; background:#78cabb ; color:#ffffff; border-bottom:#e0e0e0 1px solid;  }
.server_th5 {height:40px; font-size:13px; font-weight:bold; background:#81c798 ; color:#ffffff; border-bottom:#e0e0e0 1px solid;  }
.server_th6 {height:40px; font-size:13px; font-weight:bold; background:#a9ca8f ; color:#ffffff; border-bottom:#e0e0e0 1px solid;  }
.server_th7 {height:40px; font-size:13px; font-weight:bold; background:#c7ca87 ; color:#ffffff; border-bottom:#e0e0e0 1px solid;  }
.server_th8 {height:40px; font-size:13px; font-weight:bold; background:#d8c88f ; color:#ffffff; border-bottom:#e0e0e0 1px solid;  }
.server_th9 {height:40px; font-size:13px; font-weight:bold; background:#e6ca85 ; color:#ffffff; border-bottom:#e0e0e0 1px solid;  }
.server_th_dead {height:40px; font-size:13px; font-weight:bold; background:#dddddd ; color:#888888; border-bottom:#e0e0e0 1px solid;  }
.server_th_deploy {height:25px; font-size:13px; font-weight:bold; background:#334455 ; color:#eeeeee; border-bottom:#e0e0e0 1px solid;  }
.server td {background:#ffffff;  }
.server_td_bottom {height:45px; background:#ffffff; text-align:center; border-top:#e0e0e0 1px solid;  }

/* 팝업 메뉴 */
#contents #popupmenu_user {position: absolute;top: 270px;left: 136px;width: 160px;border: #333333 1px solid;background: #ffffff;padding: 4px 0px 4px 0px;visibility: visible;}  /* 조직도 : 개인선택- 마우스 오른쪽 클릭 팝업 */
#contents #popupmenu_group {position: absolute;top: 90px;left: 100px;width: 160px;border: #333333 1px solid;background: #ffffff;padding: 4px 0px 4px 0px;visibility: visible;}  /* 조직도 : 그룹선택- 마우스 오른쪽 클릭 팝업 */
#contents #popupmenu_add_admin {position: absolute;top: 270px;left: 120px;width: 160px;border: #333333 1px solid;background: #ffffff;padding: 4px 0px 4px 0px;visibility: visible;}  /* 권한관리 : 관리자추가 팝업 */
#contents #popupmenu_del_admin {position: absolute;top: 90px;left: 120px;width: 160px;border: #333333 1px solid;background: #ffffff;padding: 4px 0px 4px 0px;visibility: visible;}   /* 권한관리 : 관리자삭제 팝업 */

#contents #selected_bg {background:#ebeef1;} /* 메뉴 마우스 롤오버 시 색상 */
#contents #padding {padding-bottom:4px;}
#contents #line {height:1px; margin:4px 0px 4px 0px; background:#e3e3e3;}
#contents #add_department {height:22px; padding-left:35px; padding-top:6px; background:url(/images/popup_icon_add_department.png) no-repeat 10px 4px; cursor:pointer; }
#contents #modify_department {height:22px; padding-left:35px; padding-top:6px; background:url(/images/popup_icon_modify_department.png) no-repeat 10px 4px; cursor:pointer;}
#contents #del_department {height:22px; padding-left:35px; padding-top:6px;  background:url(/images/popup_icon_del_department.png) no-repeat 10px 4px; cursor:pointer;}
#contents #add_user {height:22px; padding-left:35px; padding-top:6px;  background:url(/images/popup_icon_add_user.png)  no-repeat 10px 4px; cursor:pointer;}
#contents #del_user {height:22px; padding-left:35px; padding-top:6px;  background:url(/images/popup_icon_del_user.png)  no-repeat 10px 4px; cursor:pointer;}
#contents #notice {height:22px; padding-left:35px; padding-top:6px;  background:url(/images/popup_icon_notice.png) no-repeat 10px 4px; cursor:pointer;}
#contents #include_sub {height:22px; padding-left:35px; padding-top:6px; background:url(/images/popup_icon_notice.png) no-repeat 10px 4px; cursor:pointer;}
#contents #user_info {height:22px; padding-left:35px; padding-top:6px; background:url(/images/popup_icon_user_info.png) no-repeat 10px 4px; cursor:pointer;}
#contents #app_reset {height:22px; padding-left:35px; padding-top:6px; background:url(/images/popup_icon_app_reset.png) no-repeat 10px 4px; cursor:pointer;}
#contents #lock {height:22px; padding-left:35px; padding-top:6px; background:url(/images/popup_icon_lock.png) no-repeat 10px 4px; cursor:pointer;}
#contents #unlock {height:22px; padding-left:35px; padding-top:6px; background:url(/images/popup_icon_unlock.png) no-repeat 10px 4px; cursor:pointer;}
#contents #close {height:22px; padding-left:35px; padding-top:6px; background:url(/images/popup_icon_close.png) no-repeat 10px 4px; cursor:pointer;}

A.link_popupmenu:link            {color: #333333; text-decoration:none;}
A.link_popupmenu:visited         {color: #333333; text-decoration:none; }
A.link_popupmenu:active          {color: #333333; text-decoration:none; }
A.link_popupmenu:hover           {color: #333333; text-decoration:none;font-weight:bold;}

/* 팝업 컨텐츠 */
#contents #popupcontents_add_department {position: absolute;top: 400px;left: 400px;width: 160px;border: #333333 1px solid;background: #ffffff;padding: 4px 0px 4px 0px;}


#btn_view_admin {}
#headcopy {padding:15px; background-color:#fafafa; border:#e3e8ef 1px solid; color:#606060; line-height:20px; margin-bottom:20px;}
.line_1px {background:#c8cbd1; height:1px;}
.line_dot_1px {border-top:#c8cbd1 1px dashed; height:1px;}

#subtitle {background:#ffffff; text-indent:10px; font-size:12px; font-weight:bold; padding:10px 10px 10px 0px; color:#fe9500; }
#btn_move_user {padding:0px 0px 5px 0px; }
#btn_right {margin-left:10px; text-align:right;padding:5px 0px 5px 0px; float:right}
#btn_middle {text-align:middle;padding:5px 0px 5px 0px;}



/* 게시판 목록 */
#list th {height:28px; color:#525252; font-size:11px;text-align:center; background:url(/images/listTitle_bg.png);}
#list .td {height:36px; color:#525252; border-bottom:1px solid #e5e5e5; text-align:center;}
#list td {height:36px; color:#525252; border-bottom:1px solid #e5e5e5; text-align:center;}


/* 조직도_사용자 이동 테이블 */
#UserInfo {background:#ffffff; clear:both; top:27px; width:670px; border:#82a6d3 1px solid; display:none; position:absolute;}
#UserInfo input {border:#c5c5c5 1px solid; height:18px;background:#ffffff; color:#666666;width:100%; }
#UserInfo textarea {border:#c5c5c5 1px solid; height:80px;background:#ffffff; color:#666666; width:100%; }
#UserInfo select {border:#c5c5c5 1px solid; height:20px;background:#ffffff; color:#333333;width:100px;  }
#UserInfo a {color:#ff9036;}
#UserInfo #title1 {padding:10px 15px 10px 15px;  background:#82a6d3; border-top:#82a6d3 1px solid; border-bottom:#82a6d3 1px solid; color:#ffffff; font-size:13px; }
#UserInfo #title1 #close_table {display:inline; float:right; }
#UserInfo #title1 .title{width:78px;height:30px;vertical-align:top;}

#UserInfo #contents1 {padding:10px 15px 0px 15px; }
#UserInfo #contents1 .title{color:#323232; width:80px; font-weight:bold;height:36px;border-bottom:#e0e0e0 1px dashed}
#UserInfo #contents1 .title_user{color:#323232; width:140px; height:36px; text-align:right; padding-right:10px; border-right:#e0e0e0 1px solid;; border-bottom:#e0e0e0 1px dashed;}
#UserInfo #contents1 .title_must{color:#ff5e5e; }
#UserInfo #contents1 .subtitle{background:#f1f1f1; color:#323232; font-weight:bold;height:20px; padding:5px; border:#e0e0e0 1px solid;}
#UserInfo #contents1 .form {border-bottom:#e0e0e0 1px dashed}
#UserInfo #contents1 .form_textarea {padding:10px 0px;border-bottom:#e0e0e0 1px dashed}
#UserInfo #contents1 .form_user {padding-left:10px;border-bottom:#e0e0e0 1px dashed;}
#UserInfo #contents1 .form_fixed {border:#c5c5c5 1px solid; height:18px;background:#d7e2f1; color:#6890c3;}
#UserInfo #contents1 .form_user_input {border:#c5c5c5 1px solid; height:18px;background:#ffffff; color:#666666;width:150px; }
#UserInfo #contents1 .form_user_input_100percent {border:#c5c5c5 1px solid; height:18px;background:#ffffff; color:#666666;width:99%; }
#UserInfo #contents1 .form_user_input_fixed {border:#c5c5c5 1px solid; height:18px;background:#d7e2f1; color:#6890c3; width:200px;}
#UserInfo #contents1 .notice_textarea {border:#c5c5c5 1px solid; height:200px;background:#ffffff; color:#666666; width:100%; }

#UserInfo #line {background:#dcdedf; height:1px; padding:0 0 0 15px; margin:0 15px;}
#UserInfo #text {padding:10px 0 0 10px; color:#7a9fd2;}
#UserInfo #button {width:200px; height:23px; padding:15px 0 15px 0; margin:0 auto; position:relative; text-align:center; }


/* 조직도_사용자 이동 테이블 */
#SendNoti {background:#ffffff; clear:both; top:27px; width:670px; border:#82a6d3 1px solid; display:none; position:absolute;}
#SendNoti input {border:#c5c5c5 1px solid; height:18px;background:#ffffff; color:#666666;width:100%; }
#SendNoti textarea {border:#c5c5c5 1px solid; height:80px;background:#ffffff; color:#666666; width:100%; }
#SendNoti select {border:#c5c5c5 1px solid; height:20px;background:#ffffff; color:#333333;width:100px;  }
#SendNoti a {color:#ff9036;}
#SendNoti #title1 {padding:10px 15px 10px 15px;  background:#82a6d3; border-top:#82a6d3 1px solid; border-bottom:#82a6d3 1px solid; color:#ffffff; font-size:13px; }
#SendNoti #title1 #close_table {display:inline; float:right; }
#SendNoti #title1 .title{width:78px;height:30px;vertical-align:top;}

#SendNoti #contents1 {padding:10px 15px 0px 15px; }
#SendNoti #contents1 .title{color:#323232; width:80px; font-weight:bold;height:36px;border-bottom:#e0e0e0 1px dashed}
#SendNoti #contents1 .title_user{color:#323232; width:140px; height:36px; text-align:right; padding-right:10px; border-right:#e0e0e0 1px solid;; border-bottom:#e0e0e0 1px dashed;}
#SendNoti #contents1 .title_must{color:#ff5e5e; }
#SendNoti #contents1 .subtitle{background:#f1f1f1; color:#323232; font-weight:bold;height:20px; padding:5px; border:#e0e0e0 1px solid;}
#SendNoti #contents1 .form {border-bottom:#e0e0e0 1px dashed}
#SendNoti #contents1 .form_textarea {padding:10px 0px;border-bottom:#e0e0e0 1px dashed}
#SendNoti #contents1 .form_user {padding-left:10px;border-bottom:#e0e0e0 1px dashed;}
#SendNoti #contents1 .form_fixed {border:#c5c5c5 1px solid; height:18px;background:#d7e2f1; color:#6890c3;}
#SendNoti #contents1 .form_user_input {border:#c5c5c5 1px solid; height:18px;background:#ffffff; color:#666666;width:150px; }
#SendNoti #contents1 .form_user_input_100percent {border:#c5c5c5 1px solid; height:18px;background:#ffffff; color:#666666;width:99%; }
#SendNoti #contents1 .form_user_input_fixed {border:#c5c5c5 1px solid; height:18px;background:#d7e2f1; color:#6890c3; width:200px;}
#SendNoti #contents1 .notice_textarea {border:#c5c5c5 1px solid; height:200px;background:#ffffff; color:#666666; width:100%; }

#SendNoti #line {background:#dcdedf; height:1px; padding:0 0 0 15px; margin:0 15px;}
#SendNoti #text {padding:10px 0 0 10px; color:#7a9fd2;}
#SendNoti #button {width:200px; height:23px; padding:15px 0 15px 0; margin:0 auto; position:relative; text-align:center; }


/* 조직도_사용자 이동 테이블 */
#PartInfo {background:#ffffff; clear:both; top:27px; width:670px; border:#82a6d3 1px solid; display:none; position:absolute;}
#PartInfo input {border:#c5c5c5 1px solid; height:18px;background:#ffffff; color:#666666;width:100%; }
#PartInfo textarea {border:#c5c5c5 1px solid; height:80px;background:#ffffff; color:#666666; width:100%; }
#PartInfo select {border:#c5c5c5 1px solid; height:20px;background:#ffffff; color:#333333;width:100px;  }
#PartInfo a {color:#ff9036;}
#PartInfo #title1 {padding:10px 15px 10px 15px;  background:#82a6d3; border-top:#82a6d3 1px solid; border-bottom:#82a6d3 1px solid; color:#ffffff; font-size:13px; }
#PartInfo #title1 #close_table {display:inline; float:right; }
#PartInfo #title1 .title{width:78px;height:30px;vertical-align:top;}

#PartInfo #contents1 {padding:10px 15px 0px 15px; }
#PartInfo #contents1 .title{color:#323232; width:80px; font-weight:bold;height:36px;border-bottom:#e0e0e0 1px dashed}
#PartInfo #contents1 .title_user{color:#323232; width:140px; height:36px; text-align:right; padding-right:10px; border-right:#e0e0e0 1px solid;; border-bottom:#e0e0e0 1px dashed;}
#PartInfo #contents1 .title_must{color:#ff5e5e; }
#PartInfo #contents1 .subtitle{background:#f1f1f1; color:#323232; font-weight:bold;height:20px; padding:5px; border:#e0e0e0 1px solid;}
#PartInfo #contents1 .form {border-bottom:#e0e0e0 1px dashed}
#PartInfo #contents1 .form_textarea {padding:10px 0px;border-bottom:#e0e0e0 1px dashed}
#PartInfo #contents1 .form_user {padding-left:10px;border-bottom:#e0e0e0 1px dashed;}
#PartInfo #contents1 .form_fixed {border:#c5c5c5 1px solid; height:18px;background:#d7e2f1; color:#6890c3;}
#PartInfo #contents1 .form_user_input {border:#c5c5c5 1px solid; height:18px;background:#ffffff; color:#666666;width:150px; }
#PartInfo #contents1 .form_user_input_100percent {border:#c5c5c5 1px solid; height:18px;background:#ffffff; color:#666666;width:99%; }
#PartInfo #contents1 .form_user_input_fixed {border:#c5c5c5 1px solid; height:18px;background:#d7e2f1; color:#6890c3; width:200px;}
#PartInfo #contents1 .notice_textarea {border:#c5c5c5 1px solid; height:200px;background:#ffffff; color:#666666; width:100%; }

/*excel upload*/
#excelOrgUpload {background:#ffffff; clear:both; top:27px; width:670px; border:#82a6d3 1px solid; display:none; position:absolute;}
#excelOrgUpload input {border:#c5c5c5 1px solid; height:18px;background:#ffffff; color:#666666;width:100%; }
#excelOrgUpload textarea {border:#c5c5c5 1px solid; height:80px;background:#ffffff; color:#666666; width:100%; }
#excelOrgUpload select {border:#c5c5c5 1px solid; height:20px;background:#ffffff; color:#333333;width:100px;  }
#excelOrgUpload a {color:#ff9036;}
#excelOrgUpload #title1 {padding:10px 15px 10px 15px;  background:#82a6d3; border-top:#82a6d3 1px solid; border-bottom:#82a6d3 1px solid; color:#ffffff; font-size:13px; }
#excelOrgUpload #title1 #close_table {display:inline; float:right; }
#excelOrgUpload #title1 .title{width:78px;height:30px;vertical-align:top;}

#excelOrgUpload #contents1 {padding:10px 15px 0px 15px; }
#excelOrgUpload #contents1 .title{color:#323232; width:80px; font-weight:bold;height:36px;border-bottom:#e0e0e0 1px dashed}
#excelOrgUpload #contents1 .title_user{color:#323232; height:36px; text-align:right; padding-right:10px; border-right:#e0e0e0 1px solid;; border-bottom:#e0e0e0 1px dashed;}
#excelOrgUpload #contents1 .title_must{color:#ff5e5e; }
#excelOrgUpload #contents1 .subtitle{background:#f1f1f1; color:#323232; font-weight:bold;height:20px; padding:5px; border:#e0e0e0 1px solid;}
#excelOrgUpload #contents1 .form {border-bottom:#e0e0e0 1px dashed}
#excelOrgUpload #contents1 .form_textarea {padding:10px 0px;border-bottom:#e0e0e0 1px dashed}
#excelOrgUpload #contents1 .form_user {padding-left:10px;border-bottom:#e0e0e0 1px dashed;}
#excelOrgUpload #contents1 .form_fixed {border:#c5c5c5 1px solid; height:18px;background:#d7e2f1; color:#6890c3;}
#excelOrgUpload #contents1 .form_user_input {border:#c5c5c5 1px solid; height:18px;background:#ffffff; color:#666666;width:150px; }
#excelOrgUpload #contents1 .form_user_input_100percent {border:#c5c5c5 1px solid; height:18px;background:#ffffff; color:#666666;width:99%; }
#excelOrgUpload #contents1 .form_user_input_fixed {border:#c5c5c5 1px solid; height:18px;background:#d7e2f1; color:#6890c3; width:200px;}
#excelOrgUpload #contents1 .notice_textarea {border:#c5c5c5 1px solid; height:200px;background:#ffffff; color:#666666; width:100%; }

#excelOrgUpload #line {background:#dcdedf; height:1px; padding:0 0 0 15px; margin:0 15px;}
#excelOrgUpload #text {padding:10px 0 0 10px; color:#7a9fd2;}
#excelOrgUpload #button {width:200px; height:23px; padding:15px 0 15px 0; margin:0 auto; position:relative; text-align:center; }

/*version*/

#checkUpdate #line {background:#dcdedf; height:1px; padding:0 0 0 15px; margin:0 15px;}
#checkUpdate #text {padding:10px 0 0 10px; color:#7a9fd2;}
#checkUpdate #button {width:200px; height:23px; padding:15px 0 15px 0; margin:0 auto; position:relative; text-align:center; }

#checkUpdate {background:#ffffff; clear:both; top:27px; width:670px; border:#82a6d3 1px solid; display:none; position:absolute;}
#checkUpdate input {border:#c5c5c5 1px solid; height:18px;background:#ffffff; color:#666666;width:100%; }
#checkUpdate textarea {border:#c5c5c5 1px solid; height:80px;background:#ffffff; color:#666666; width:100%; }
#checkUpdate select {border:#c5c5c5 1px solid; height:20px;background:#ffffff; color:#333333;width:100px;  }
#checkUpdate a {color:#ff9036;}
#checkUpdate #title1 {padding:10px 15px 10px 15px;  background:#82a6d3; border-top:#82a6d3 1px solid; border-bottom:#82a6d3 1px solid; color:#ffffff; font-size:13px; }
#checkUpdate #title1 #close_table {display:inline; float:right; }
#checkUpdate #title1 .title{width:78px;height:30px;vertical-align:top;}

#checkUpdate #contents1 {padding:10px 15px 0px 15px; }
#checkUpdate #contents1 .title{color:#323232; width:80px; font-weight:bold;height:36px;border-bottom:#e0e0e0 1px dashed}
#checkUpdate #contents1 .title_user{color:#323232; width:140px; height:36px; text-align:right; padding-right:10px; border-right:#e0e0e0 1px solid;; border-bottom:#e0e0e0 1px dashed;}
#checkUpdate #contents1 .title_must{color:#ff5e5e; }
#checkUpdate #contents1 .subtitle{background:#f1f1f1; color:#323232; font-weight:bold;height:20px; padding:5px; border:#e0e0e0 1px solid;}
#checkUpdate #contents1 .form {border-bottom:#e0e0e0 1px dashed}
#checkUpdate #contents1 .form_textarea {padding:10px 0px;border-bottom:#e0e0e0 1px dashed}
#checkUpdate #contents1 .form_user {padding-left:10px;border-bottom:#e0e0e0 1px dashed;}
#checkUpdate #contents1 .form_fixed {border:#c5c5c5 1px solid; height:18px;background:#d7e2f1; color:#6890c3;}
#checkUpdate #contents1 .form_user_input {border:#c5c5c5 1px solid; height:18px;background:#ffffff; color:#666666;width:150px; }
#checkUpdate #contents1 .form_user_input_100percent {border:#c5c5c5 1px solid; height:18px;background:#ffffff; color:#666666;width:99%; }
#checkUpdate #contents1 .form_user_input_fixed {border:#c5c5c5 1px solid; height:18px;background:#d7e2f1; color:#6890c3; width:200px;}
#checkUpdate #contents1 .notice_textarea {border:#c5c5c5 1px solid; height:200px;background:#ffffff; color:#666666; width:100%; }

#PartInfo #line {background:#dcdedf; height:1px; padding:0 0 0 15px; margin:0 15px;}
#PartInfo #text {padding:10px 0 0 10px; color:#7a9fd2;}
#PartInfo #button {width:200px; height:23px; padding:15px 0 15px 0; margin:0 auto; position:relative; text-align:center; }



/* 버전관리 */
#progress_empty {width:440px; height:18px; background:url(/images/progress_empty.png);margin: 6px auto 3px; }
#progress_empty #progress_full {width:52%; height:18px; background:url(/images/progress_full.png); float:left;}
.progress_text {color : #43b77c; }
.progress_percent {font-size : 13px; font-weight:bold; color : #ff5e5e}



/* 카피라이트 */
#copyright {clear : both; background:#f7f7f7; height:50px; width:100%; border-top:solid 1px #c0c0c0; padding:15px 0 15px 0; text-align:center; }




/* 기타css */
.paging {text-align:center;border-bottom:#ffffff1px solid;height:15px; }
.paging td {text-align:center;border-bottom:#ffffff1px solid;height:15px; }

.padding_smscontents {padding:10px;}

A.link_paging_normal:link            {font-size: 12px;color: #333333; text-decoration:none;}
A.link_paging_normal:visited         {font-size: 12px;color: #333333; text-decoration:none;}
A.link_paging_normal:active          {font-size: 12px;color: #333333; text-decoration:none;}
A.link_paging_normal:hover           {font-size: 12px;color: #333333; text-decoration:none;}

A.link_paging_active:link            {font-size: 12px;color: #ff3300; text-decoration:none; font-weight:bold;}
A.link_paging_active:visited         {font-size: 12px;color: #ff3300; text-decoration:none; font-weight:bold;}
A.link_paging_active:active          {font-size: 12px;color: #ff3300; text-decoration:none; font-weight:bold;}
A.link_paging_active:hover           {font-size: 12px;color: #ff3300; text-decoration:none; font-weight:bold;}



.padding_top10 {padding-top:10px;}
.padding_bottom10 {padding-bottom:10px;}
.phone_td_white {border:#e8e8e8 1px solid; background:#ffffff;  color:#686868; padding:4px; font-size:11px; }
.phone_td_white input{border:#ffffff 1px solid; background:#ffffff;  color:#000000; width:100%; font-size:11px;}
.phone_td_white_section {color:#c0c0c0; }
.phone_bottom {background:url(/images/phone_bottom.png); height:68px;}
.phone_right_padding {width:20px;}
.phone_under_padding {height:30px;}
.phone_btn_send {background:url(/images/btn_phone_send.png); width:170px; height:35px; font-size:16px; color:#ffffff; text-align:center; vertical-align:middle;  }
.phone_btn_send a { font-size:16px; color:#ffffff; }


.selectuser {padding:15px; background:#f7f7f7; border:#cbcbcb 1px solid; }
.selectuser_lt {width:410px; border:#cbcbcb 1px solid; background:#f7f7f7;padding:10px; }
.selectuser_rt {width:410px; border:#cbcbcb 1px solid; background:#f7f7f7;padding:10px; }
.selectuser_input {border:#afafaf 1px solid; height:18px; width:150px; color:#666666; font-size:11px;}
.selectuser_input_500 {border:#afafaf 1px solid; height:18px; width:500px; color:#666666; font-size:11px;}
.selectuser_input_multi {border:#afafaf 1px solid; height:400px; width:100%; color:#666666; font-size:11px;}


.option_table_none {padding:5px; vertical-align:top; }
.option_table_select {border:#afafaf 1px solid; font-family:돋움; font-size:11px; color:#666666;height:20px; }
.option_table_input {border:#afafaf 1px solid; height:20px; width:70px;}
.option_under_padding {height:30px;}

#under_button {margin-top:15px; text-align:center; }
#under_button a {padding-right:6px; }


/* 기본사항  */

.table_border {background-color:#c7d4e5}
.input_grayline {border:#6d6d6d 1px solid; height:18px; width:80px; color:#666666; font-size:11px;}


.td_justify {text-align: justify}
.td_yellow {background-color:#FFFCD7}

.td_yellow2 {background-color:#FEF376}
.td_sky {background-color:#BAD9F1}
.td_pink {background-color:#FFC4E2}

.td_gray {background-color:#FBF9E6}
.td_gray2 {background-color:#FBF9E6}


.t_11px {font-size:11px;}
.t_12px {font-size:12px;}
.t_13px {font-size:13px;}
.t_18px {font-size:18px;}
.t_bold {font-weight:bold;}

.t_11boldBlack {font-weight:bold;font-size:11px;color: #000000;}
.t_11Gray66 {font-size:11px;color: #666666;}

.t_white {color: #ffffff;}
.t_black {color: #000000;}
.t_sky {color: #549bd9;}
.t_green {color: #64994c;}
.t_blue {color: #23568f;}
.t_gray {color:#8e8e8e}
.t_gray2 {color:#FBF9E6}

.td_pink {background-color:#e86960}

.td_select {background-color:#8eaacd}
.td_select2 {background-color:#b1c4dc}



.td_line_green {background-color: #d2dec2}

.td_vcenterline {background-color: #e1e8f1;height:1px}

.td_underline_d6d6d6 {border-top-color: #ffffff;border-right-color: #ffffff;border-bottom-color: #d9d9d9;border-left-color: #ffffff;border-style:solid;border-width:1px;}
.td_box_d6d6d6 {border-top-color: #d9d9d9;border-right-color: #d9d9d9;border-bottom-color: #d9d9d9;border-left-color: #d9d9d9;border-style:solid;border-width:1px;}





A.link_addfile:link            {font-size: 12px;color: #608cbc; text-decoration:none;}
A.link_addfile:visited         {font-size: 12px;color: #608cbc; text-decoration:none;}
A.link_addfile:active          {font-size: 12px;color: #608cbc; text-decoration:none;}
A.link_addfile:hover           {font-size: 12px;color: #608cbc; text-decoration:underline;}

A.link_addfile2:link            {font-size: 12px;color: #ff3300; text-decoration:none;}
A.link_addfile2:visited         {font-size: 12px;color: #ff3300; text-decoration:none;}
A.link_addfile2:active          {font-size: 12px;color: #ff3300; text-decoration:none;}
A.link_addfile2:hover           {font-size: 12px;color: #ff3300; text-decoration:underline;}

A.link_addfile3:link            {color: #FF3600; font-size:12px ;font-weight:bold; text-decoration:none;}
A.link_addfile3:visited         {color: #FF3600; font-size:12px ;font-weight:bold; text-decoration:none;}
A.link_addfile3:active          {color: #FF3600; font-size:12px ;font-weight:bold; text-decoration:none;}
A.link_addfile3:hover           {color: #FF3600; font-size:12px ;font-weight:bold; text-decoration:underline;}

A.link_addfile4:link            {color: #339d05; font-size:12px ;font-weight:bold; text-decoration:none;}
A.link_addfile4:visited         {color: #339d05; font-size:12px ;font-weight:bold; text-decoration:none;}
A.link_addfile4:active          {color: #339d05; font-size:12px ;font-weight:bold; text-decoration:none;}
A.link_addfile4:hover           {color: #339d05; font-size:12px ;font-weight:bold; text-decoration:underline;}

A.link_adress_list:link            {font-size: 12px;color: #2971cd; text-decoration:none;}
A.link_adress_list:visited         {font-size: 12px;color: #2971cd; text-decoration:none;}
A.link_adress_list:active          {font-size: 12px;color: #2971cd; text-decoration:none;}
A.link_adress_list:hover           {font-size: 12px;color: #2971cd; text-decoration:none;}



/* 달력 레이어  */
.calendar_color {background-color:#4d7fbe ;border:0px solid #4d7fbe;}
.calendar_title {color:#ffffff; font-size:11px; }

.t_sunday {color: #d92d1e;}
.t_saturday  {color: #4a84bc;}
.t_weekday {color: #000000;}

.t_sunday_othermonth {color: #e69088;}
.t_saturday_othermonth  {color: #9ebbd7;}
.t_weekday_othermonth {color: #929292;}

.t_specialday {color: #929292;}
.t_specialday_holiday {color: #e6756b;}

.t_schedule {color: #fffa6f;font-weight:bold}

.td_today {border-top-color: #FF0000;border-right-color: #FF0000;border-bottom-color: #FF0000;border-left-color: #FF0000;
           border-style:solid;border-width:1;}

.td_sky {background-color: #549bd9;}
.td_green {background-color: #64994c;}

.td_week_select1 {background-color: #4284bd;}
.td_week_select2 {background-color: #6da6d8;}
.td_week_select3 {background-color: #64994c;}
.td_week_select4 {background-color: #6db94c;}

.lblbutton{
height: 12px; 
display: inline-block; 
padding: .5em .75em; 
color: #fff; 
font-size: inherit; 
line-height: normal; 
vertical-align: middle; 
background-color: #337ab7; 
cursor: pointer; 
border: 1px solid #ebebeb; 
border-bottom-color: #e2e2e2; 
border-radius: .25em; 
} 

.modal a.close-modal[class*="icon-"] {
  top: -10px;
  right: -10px;
  width: 20px;
  height: 20px;
  color: #fff;
  line-height: 1.25;
  text-align: center;
  text-decoration: none;
  text-indent: 0;
  background: #900;
  border: 2px solid #fff;
  -webkit-border-radius:  26px;
  -moz-border-radius:     26px;
  -o-border-radius:       26px;
  -ms-border-radius:      26px;
  -moz-box-shadow:    1px 1px 5px rgba(0,0,0,0.5);
  -webkit-box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
  box-shadow:         1px 1px 5px rgba(0,0,0,0.5);
}